* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}
header {
    min-height: 100vh;
    width: 100%;
    
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 150px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li  {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Anek Devanagari', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}
.text-box p {
    margin:10px 0 40px;
    font-size: 16px;
    color:#fff;
    }
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s ;
}
nav .fa{
    display: none; }
    @media (max-width:700px) {
        .text-box h1 {
            font-size: 20px;
        }
        .nav-links ul li {
            display: block;
        }
        .nav-links {
            position: absolute;
            background-color: #f44336;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px ;
            z-index: 2;
            
        }
        nav .fa {
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
          
        }
        .nav-links ul {
            padding: 30px;
        }
    }

/* Dark mode */

code {
  color: firebrick;
}

.darkmod {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;

}
.darkmod input {
  margin-right:0.3rem;
}
.darkToggle {
 
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;

 
}

.darkToggle:checked {
  background: rgb(19, 9, 9);
}

.dark {
  color: white;
  background: rgb(22, 10, 10);
}



/*-----    container-form --------*/






/*-----    footer  --------*/

footer {
    width: 100%;
    position:relative;
    background:linear-gradient(to right, #f44336, #2d0b00);
    color: #fff;
    padding:100px 0 30px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
}
.f-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.column1 {
    flex-basis: 23%;
    padding: 10px;
}
.column1:nth-child(2), .column1:nth-child(3) {
    flex-basis: 15%;
}
.f-logo {
    width: 80%;
    margin-bottom: 30px;
}
.column1 h3 {
    width: fit-content;
    margin-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.column1 ul li {
    list-style: none;
    margin-bottom: 12px;
    }
    .column1 ul li a {
        text-decoration: none;
        color:white ;
    }
    .column1 ul li a:hover {
        color: #000;
     }
    form {
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
    }
#fa {
        font-size: 18px;
        margin-right: 10px;
    }
form #f-mail{
    width: 100%;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
}
::placeholder {color: white;}
form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
   
}
@media (max-width:940px) {
    .social-icons .fa {
        margin: 15px;
   
    }
  form #f-mail {
      width: 120px;
  }
}
hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
    
}
.copyright {
    text-align: center;
}
/*-----    social icons hover effect --------*/

.fa-facebook:hover {
    background-color: blue;
    color: white;
   transition: 0.5s;
  
}
.fa-twitter:hover {
    background-color: #1DA1F2;
    color: white;
    transition: 0.5s;
}
.fa-whatsapp:hover {
    background-color:#25D366;
    color: white;
    transition: 0.5s;
}
.fa-pinterest:hover {
    background-color: #E60023;
    color: white;
    transition: 0.5s;
}
.fa-instagram:hover {
    background-color: #E1306C;
    color: white;
    transition: 0.5s;
}
























@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');

/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

* {
  box-sizing: border-box;
}



.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: white;
  letter-spacing: 15px;
  background-color: #E60023;
  padding: 5px;
  border-radius: 10px;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-right:1px solid #777;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #f44336;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}
